.product-id-container {
    background-color: #44B26F;
    box-sizing: border-box;
  }
  
  .product-details {
    background-color: white;
    width: 100%;
    height: 800px;
  }
  .product-name{
    display: inline-block;
  }
  .header-product-id {
    display: flex;
    align-items: baseline;
width: 100%;
padding: 35px;
  }
  
  .logo {
    width: 40px;
    margin-right: 16px;
  }
  
  .product-name {
    margin: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
  }
  
  .product-image {
    width: 396px;
height: 268px;
margin: 40px;
    margin-bottom: 16px;
  }
  .product-details-container{
    display: flex;
    margin-top: 15px;
  }

  .product-availability{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: baseline;
    margin-bottom: 16px;
    margin-top: 30px;
  }
  
  .arrow-button {
    border: none;
    background: none;
    font-size: 20px;
    margin-right: 8px;
  }
  
  .availability-text {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #44B26F;
    font-size: 24px;
  }
  
  .product-price {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #FFA500;
    font-size: 24px;
  }
  
  .quantity {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }
  
  .product-name-desc {
    margin: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
  }
  
  .product-description {
    margin: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }
  